VITE_SUPABASE_URL=https://waonfenqnffngbzalrsi.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_CURATOR_ADMIN_PASSWORD=
VITE_CURATOR_INVITE_FUNCTION_URL=https://waonfenqnffngbzalrsi.supabase.co/functions/v1/curator-invite
VITE_CURATOR_CONFIRM_FUNCTION_URL=https://waonfenqnffngbzalrsi.supabase.co/functions/v1/curator-confirm
